<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sulabh.in | Welcome</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/home.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="#" class="navbar-brand"
        ><img
          src="{{ url_for('static',filename='images/sulabh_logo-final.png') }}"
          alt="Sulabh logo"
          title="Sulabh_logo"
          style="width: 20vw; vertical-align: middle;"
      /></a>
      <ul>
        <li><a href="#sect1" title="About">About</a></li>
        <li><a href="#sect2" title="Contact us">Contact Us</a></li>
        <li><a href="#sect3" title="Know More">Know More</a></li>
      </ul>
      <button class="navbar-toggler">
        <span></span>
      </button>
    </nav>
    <header class="intro">
      <div class="container">
        <img
          src="{{ url_for('static',filename='images/sulabhlogo2.png') }}"
          alt="Sulabh Logo"
          id="logo_main"
        />
      </div>

      <button
        type="button"
        title="Voice Based Assistance"
        id="feature1"
        class="feature"
        aria-describedby="Voice Based Assistance"
        href="#voice_based_assistance"
      ></button>
      <button type="button" style="background-color: brown;">Click</button>

      <button
        type="button"
        class="feature"
        title="Gesture Based Navigation"
        id="feature2"
        aria-describedby="Gesture Based Navigation"
      >
        <a href="#gesture_based_navigation"></a>
      </button>
      <button
        type="button"
        class="feature"
        title="Captions and Hyperlinks"
        id="feature3"
        aria-describedby="Captions and Hyperlinks"
      >
        <a href="#captions_and_hyperlinks"></a>
      </button>
      <button
        type="button"
        class="feature"
        title="Text to Refreshable Braille Compatibility"
        id="feature4"
        aria-describedby="Text to Refreshable Braille Compatibility"
      >
        <a href="text_to_braille"></a>
      </button>
      <button
        type="button"
        title="Ease of Access and Understanding"
        id="feature5"
        aria-describedby="Ease of Access and Understanding"
      >
        <a href="ease_of_access"></a>
      </button>
      <button
        type="button"
        title="Appearance Settings"
        id="feature6"
        aria-describedby="Appearance Settings"
      >
        <a href="appearance_settings"></a>
      </button>
      <div class="container" id="intro" class="reveal">
        <h2>
          Introducing <span>Sulabh.in</span>, a website that revolutionises the
          Internet for the differently abled!
        </h2>
        <h3>
          Select the Features you wish to use, enter the website you wish to
          visit, and hit Go!
        </h3>
        <h3>To understand how to use this portal click on 'Tutorial' below</h3>
        <button id="tutorial" class="tutorial" type="button" title="Tutorial">
          Tutorial
        </button>
        <br />
        <br />
        <form
          action="https://www.google.com/search"
          class="searchform"
          method="get"
          name="searchform"
          target="_blank"
        >
          <input name="sitesearch" type="hidden" />
          <input
            autocomplete="on"
            class="form-control search"
            style="height: 5vh; width: 30vw;"
            name="q"
            placeholder="Search in example.com"
            required="required"
            type="text"
          />
          <button class="button" type="submit">Search</button>
        </form>
        <button><a href="/?name=home">Rural Home</a></button>
      </div>
      <div class="feature_list">
        <div class="container hidden" id="voice_based_assistance">
          voice based assistance
        </div>
        <div class="container hidden" id="gesture_based_navigation">
          gesture based navigation
        </div>
        <div class="container hidden" id="captions_and_hyperlinks">
          captions and Hyperlinks
        </div>
        <div class="container hidden" id="text_to_braille">
          text to refreshable braille compatibility
        </div>
        <div class="container hidden" id="ease_of_access">
          ease of access and Understanding
        </div>
        <div class="container hidden" id="appearance_settings">
          appearance Settings
        </div>
      </div>
    </header>
    <!--background image only in Header-->
    <section id="sect1" class="container"><h2>section 1</h2></section>
    <section id="sect2" class="container"><h2>section 2</h2></section>
    <section id="sect3" class="container"><h2>section 3</h2></section>

    <script src="{{url_for('static', filename='js/main.js')}}"></script>
  </body>
</html>
