<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/styles.css') }}"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://usefulangle.com/sitejs/jquery-2.1.1.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap"
      rel="stylesheet"
      type="text/css"
    />

    <link
      href="https://usefulangle.com/sitecss/prism.css"
      rel="stylesheet"
      type="text/css"
    />

    {% autoescape false %} {{myCode.head}} {% endautoescape %}
  </head>
  <body>
    <div id="loader" class="center" style="display: none;">
      <div class="bar">
        <div class="circle"></div>
        <p
          style="
            position: absolute;
            top: -25px;
            right: -85px;
            text-transform: uppercase;
            color: #347fc3;
            font-family: helvetica, sans-serif;
            font-weight: bold;
          "
        >
          Loading
        </p>
      </div>
    </div>
    <div
      id="main"
      onmousemove="showCoords(event,'Hover')"
      ontouchmove="showCoords(event,'Touch')"
    >
      <div id="body" class="body-bg">
        <div class="user">
          <button class="modal-btn">User Settings</button>
          <button class="sulabh-home">Home</button>
        </div>
        {% autoescape false %} {{myCode.body}} {% endautoescape %}
      </div>
    </div>

    <div class="modal-bg">
      <div class="modal">
        <button type="button" id="LinkButton">
          Links
        </button>
        <button type="button" id="ImgButton">
          Imgs
        </button>
        <!-- contains the coodinates of the mouse
        <p id="coords">coords</p>
        <!--displays text inside of the tag-->
        <!-- <p id="elementName">elementText</p> -->
        <!-- Power button for text to speech feature-->
        Click to Turn On/Off
        <button id="power" type="button" onclick="textToSpeechPower()"></button>
        <div id="demo-container">
          <select id="chosen-voice"></select
          ><input
            type="text"
            id="speak-text"
            placeholder="Enter text to speak"
          /><button id="speak-button">Speak</button>
        </div>
        <span class="modal-close">X</span>
      </div>
    </div>

    <script src="{{url_for('static', filename='js/loader.js')}}"></script>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/findText.js')}}"></script>
    <script src="{{url_for('static', filename='js/googleanalytics.js')}}"></script>
    <script src="{{url_for('static', filename='js/scrollbar.js')}}"></script>
    <script src="{{url_for('static', filename='js/image-caption.js')}}"></script>
    <script src="{{url_for('static', filename='js/text2speech.js')}}"></script>
    <script src="https://usefulangle.com/sitejs/prism.js" defer></script>
    <script>
      var TTS_Power = localStorage.getItem('TTS_Power');
      console.log('TTS Power on start: ' + TTS_Power);
      if (TTS_Power == 'null' || TTS_Power == 'Off') {
        document.getElementById('power').innerHTML = 'Off';
        document.getElementById('power').style.backgroundColor = '#e70808';
      } else if (TTS_Power == 'On') {
        document.getElementById('power').innerHTML = 'On';
        document.getElementById('power').style.backgroundColor = '#33cc33';
      }
      var linkData, imgData;
      document.getElementById('LinkButton').onclick = function (linkData) {
        linkData = findLinks(html);
        console.log(linkData);
      };
      document.getElementById('ImgButton').onclick = function (imgData) {
        imgData = findLinks(html);
        console.log(imgData);
      };
      var modalBtn = document.querySelector('.modal-btn');
      var modalBg = document.querySelector('.modal-bg');
      var modalClose = document.querySelector('.modal-close');
      var sulabhHome = document.querySelector('.sulabh-home');
      modalBtn.addEventListener('click', function () {
        modalBg.classList.add('bg-active');
      });
      modalClose.addEventListener('click', function () {
        modalBg.classList.remove('bg-active');
      });
      sulabhHome.addEventListener('click', function () {
        window.location.href = window.origin;
      });
    </script>
    <script>
      var head = document.getElementsByTagName('head')[0];
      var js = document.createElement('script');

      if (TTS) {
        js.src = 'js/jquery_computer.js';
      }
      head.appendChild(js);
    </script>
  </body>
</html>
