<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
  <head>
    <title>{{title}}</title>
    {% autoescape false %} {{myCode.head}} {% endautoescape %}
    <link
      rel="stylesheet"
      href="{{ url_for('static',filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div id="loader" class="center" style="display: none;">
      <div class="bar">
        <div class="circle"></div>
        <p
          style="
            position: absolute;
            top: -25px;
            right: -85px;
            text-transform: uppercase;
            color: #347fc3;
            font-family: helvetica, sans-serif;
            font-weight: bold;
          "
        >
          Loading
        </p>
      </div>
    </div>
    <div id="body">
      {% autoescape false %} {{myCode.body}} {% endautoescape %}
    </div>
    <script src="{{url_for('static', filename='js/script.js')}}"></script>
    <script src="{{url_for('static', filename='js/loader.js')}}"></script>
  </body>
</html>
